<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Clinic</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
    <!-- Custom CSS -->
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: #000000;
        }

        .navbar-brand {
            font-size: 1.5rem;
        }

        .navbar-nav .nav-link {
            color: #ffffff; /* White */
            font-size: 1.2rem;
        }

        .dropdown-menu {
            background-color: #343a40; /* Dark Gray */
        }



        .dropdown-menu .dropdown-item:hover {
            background-color: #495057; /* Dark Gray - Hover */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark">
    <!-- Navbar links -->
    <ul class="navbar-nav">
        <!-- Hospital Management -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{OwnersList}">Hospital Management</a>
        </li>
        <!-- Clinique -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Clinique</a>
            <ul class="dropdown-menu">
                <li th:if="${#authorization.expression('hasAnyRole(''ADMIN'')')}">
                    <a class="dropdown-item" th:href="@{createClinique}">New</a>
                </li>
                <li><a class="dropdown-item" th:href="@{cliniqueList}">List</a></li>
            </ul>
        </li>
        <!-- Doctor -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Doctor</a>
            <ul class="dropdown-menu">
                <li th:if="${#authorization.expression('hasAnyRole(''ADMIN'')')}">
                    <a class="dropdown-item" th:href="@{CreateVet}">New</a>
                </li>
                <li><a class="dropdown-item" th:href="@{VetList}">List</a></li>
            </ul>
        </li>
        <!-- Owners -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Owners</a>
            <ul class="dropdown-menu">
                <li th:if="${#authorization.expression('hasAnyRole(''ADMIN'')')}">
                    <a class="dropdown-item" th:href="@{createOwner}">New</a>
                </li>
                <li><a class="dropdown-item" th:href="@{OwnersList}">List</a></li>
            </ul>
        </li>
        <!-- Pet -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Pet</a>
            <ul class="dropdown-menu">
                <li th:if="${#authorization.expression('hasAnyRole(''ADMIN'')')}">
                    <a class="dropdown-item" th:href="@{createPet}">New</a>
                </li>
                <li><a class="dropdown-item" th:href="@{PetList}">List</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Visit</a>
            <ul class="dropdown-menu">
                <li th:if="${#authorization.expression('hasAnyRole(''ADMIN'')')}">
                    <a class="dropdown-item" th:href="@{createVisit}">New</a>
                </li>
                <li><a class="dropdown-item" th:href="@{visitList}">List</a></li>
            </ul>
        </li>


    </ul>
    <!-- User Profile -->
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <span th:text="${#authentication.name}">[username]</span>
            </a>
            <ul class="dropdown-menu">
                <!-- Login -->
                <li th:unless="${#authorization.expression('isAuthenticated()')}">
                    <a class="dropdown-item" href="#">Login</a>
                </li>
                <!-- Logout -->
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <form method="post" th:action="@{/logout}">
                        <button class="dropdown-item" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<main class="container mt-5">
    <!-- Content Placeholder -->
    <div layout:fragment="content">
        <!-- Content Goes Here -->
    </div>
</main>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
